BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Pointer
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
