* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.ui text eol=lf
*.qrc text eol=lf
*.qss text eol=lf
*.ini text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.zip binary
